{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 aboutTitle">
            <h1>Our team</h1>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t39.30808-6/275785887_5067547910000356_7009915572661908088_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_aid=0&_nc_ohc=n9a8LStxuToAX9ut2a_&_nc_ht=scontent.fktw1-1.fna&oh=00_AT8F-3ZUnrm2nmsJt3srklBSMSlA_k8UOPAcvvLub3T6jg&oe=62BAAB96"
" alt="Aleksandra">
      <div class="caption">
        <h3>Marek Urbaniec</h3>
        <p>Nr albumu: 104460</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-1/107519517_3116404588438527_3269460092944363554_n.jpg?stp=dst-jpg_p200x200&_nc_cat=106&ccb=1-7&_nc_sid=7206a8&_nc_ohc=qnBZHIGsBewAX_48akB&_nc_oc=AQkq1LMwwl1Zl7rXeyun_CTZvgiBn5OLhCkDS4CMst-2qAA47Git57ovo-Cf7k3MEwU&_nc_ht=scontent.fktw1-1.fna&oh=00_AT848v3rkqXyf00sG9nG_Wg4-tI-Kk1yFWZ_Dfwp8-sUsw&oe=62DACA07"
" alt="Aleksandra">
      <div class="caption">
        <h3>Natalia Pinkas</h3>
        <p>Nr albumu: 104267</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-9/48187951_1992656644156599_4415378628288708608_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7Z6V_ruWAOgAX_3uS4n&_nc_ht=scontent.fktw1-1.fna&oh=00_AT_MRxIdVP6ErPpF2vZxr6Lfe1_t0554FbPYc2jyYpYlsQ&oe=62DC4C5E"
" alt="Aleksandra">
      <div class="caption">
        <h3>Anna Vezdenetska</h3>
        <p>Nr albumu: 107938</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/100600059_2782086938587553_6254879392787333120_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=S8aMeRtk4PAAX-KYqBG&tn=nRdOxfowKZYmVoiO&_nc_ht=scontent.fktw4-1.fna&oh=00_AT-MmQ8LWcEprVkhB1GabcRSQhPhkRjY1GYkziGlVhertA&oe=62DD6581";
" alt="Aleksandra">
      <div class="caption">
        <h3>Aleksandra Kot</h3>
        <p>Nr albumu: 104061</p>
      </div>
    </div>
  </div>



  </div>
{% endblock %}